

/* ====== BODY, LINKS, SECTION TITLES, GENERAL========== */


@font-face {
    font-family: BrandonTextBold, sans-serif;
    font-weight: bold;
    src: url("fonts/brandon_text_bold/HDV Fonts - BrandonTextBold.otf") format("opentype");
}


html, body {
     width: 100%;
     height: 100%;
}
body {
  	font-family: 'BrandonTextBold', sans-serif;
  	font-size: 16px;
  	color: #222222;
  	-webkit-font-smoothing: antialiased;
  	background: #EDEDED !important;
    padding:11px;
  	position: relative;
}
a {
  	color: #222222;
  	-webkit-transition: 0.2s;
  	-moz-transition: 0.2s;
  	transition: 0.2s;
}
a:hover {
  	color: #FF8A8A;
  	text-decoration:none;
}


/*PAGE LOADER*/

#loader {
    background: #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}
#loaderInner {
    background:#ffffff url(../images/load.gif) center center no-repeat;
    height: 60px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 60px;
}


/* ======== HEADER, NAVIGATION========== */
#headerBar {
	z-index: 999;
  	width: 100%;
  	height: auto;
  	min-height: 80px;
  	-webkit-transition: 0.2s cubic-bezier(.58,.83,.57,.84); 
  	-moz-transition: 0.2s cubic-bezier(.58,.83,.57,.84); 
  	transition: 0.2s cubic-bezier(.58,.83,.57,.84); 
  	position: fixed;
  	top: 0px;
  	background: #fff;
	-webkit-box-shadow: 0px 7px 16px 0px rgba(50, 50, 50, 0.1);
		-moz-box-shadow:    0px 7px 16px 0px rgba(50, 50, 50, 0.1);
	box-shadow:         0px 7px 16px 0px rgba(50, 50, 50, 0.1);
}
#headerBar .container {
	padding: 0;
}
.headerLeft {
	text-align: left;
	margin-top: 10px;
	padding-left: 10px;
}
.headerRight {
	text-align: left;
	padding: 0;
}
.navbar-collapse {
  padding-left: 0px;
}
.navbar {
  margin-bottom: 0;
  -webkit-padding-start: 0px;
}
.navbar li{
  display: inline-block;
  margin: 0 10px;
}
.navbar li a{
    font-family: "BrandonTextBold", sans-serif;
  	font-weight: 900;
  	font-size: 14px;
  	line-height: 80px;
  	letter-spacing: 3px;
  	text-decoration: none;
  	z-index: 999;
  	padding: 10px 0;
  	-webkit-transition: 0.3s;
  	-moz-transition: 0.3s;
  	transition: 0.3s;
  	text-transform: uppercase;
    color: #e09a0e;
}
.navbar li.active a {
	border-bottom: 2px solid #FF8A8A;
	border-top: 1px solid #FF8A8A;
	color: #FF8A8A;
}
.navbar-toggle {
	font-size: 30px;
	cursor: pointer;
}

/* ========02. EVERY SECTION TITLES========== */
.sectionTitle {
	text-align: center;
	padding-top: 75px;
	/*padding-bottom: 25px;*/
}
.sectionTitle h2 {
  	letter-spacing: 1px;
  	font-size: 35px;
  	font-weight: 600;
  	text-transform: uppercase;
}
.sectionTitle h4 {
  	letter-spacing: 1px;
  	font-size: 14px;
  	font-weight: 400;
  	text-transform: uppercase;
  	padding-bottom: 5px;
    font-family: 'BrandonTextBold', serif;
}
.sectionTitle p {
  	font-size: 18px;
  	font-weight: 300;
  	line-height: 25px;
  	color: #787878;
  	font-family: 'BrandonTextBold', serif;
  	
}
.sectionTitle .separatorlineblack {
  	margin-bottom: 30px;
}
.sectionTitle .separatorlineblack.nomargin {
	margin-bottom: 0px;
}
.separatorlineblack {
  	width: 100%;
  	height: 10px;
  	margin: 0 auto;
  	background: #000;
  	opacity: 0.1;
}
.logo{
	font-size: 45px;
	color: #444;
	font-family: 'Futura', sans-serif;
	font-weight: 100;
  letter-spacing: 1px;
}
.logo span{
	color: #FF8A8A;

}
.logo a {
  text-decoration: none;

}
/* ========03. SECTION ABOUT========== */
.portrait-circle {

}
.img-circle {
    border-radius: 50%;
    height:100%;
    width:100%;
    


}
}
#sectionAbout {
	text-align: center;
 	background-size: cover;
 	background-repeat: no-repeat;
	height: auto;
	width: 100%;
	-webkit-box-shadow: inset 0px -9px 33px -5px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px -9px 33px -5px rgba(0,0,0,0.2);
	box-shadow: inset 0px -9px 33px -5px rgba(0,0,0,0.2);
}
.aboutContainer {
	padding: 0;
}


/* ====ABOUT RIGHT SIDE==== */

.aboutRight {
	background-color: #ededed;
	padding: 0;
  float:right;
	min-height: 750px;
	-webkit-box-shadow: inset 0px -9px 33px -5px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0px -9px 33px -5px rgba(0,0,0,0.1);
	box-shadow: inset 0px -9px 33px -5px rgba(0,0,0,0.1);
}
.aboutRight h2 {
	font-size: 13px;
	text-transform: uppercase;
}
/* ====ABOUT RIGHT CONTENT TOP==== */
.aboutRightContentTop {
	background: #ffffff;
	padding-top: 20%;
	padding-right:10%;
	padding-left: 10%;
	padding-bottom: 25px;
	text-align: left;
}
.aboutTitle h1{
  font-family:'Futura', sans-serif;
	font-size: 5em;
	text-transform: uppercase;
	margin-bottom: 5px;
	font-weight: 700;
  float:right;

}
.aboutTitle h2 {
  font-size: 2em;
	margin-top: 0;
	color: #e09a0e!important;
	text-transform: lowercase!important;
}
.aboutIntro {
	margin-top: 30px;


}
.aboutIntro p{
	  font-size: 17px;
  	font-weight: 800;
  	color: #787878;
  	font-family: 'Futura', serif;
    margin-top:2em;

  
}

/* ====ABOUT RIGHT CONTENT BOTTOM==== */
.aboutRightContentBottom {
	padding-right:10%;
	padding-left: 10%;
  font-size: 18px;
	text-align: left;
	padding-top: 25px;
	padding-bottom: 30px;
}
.aboutRightContentBottom h4 {
	margin: 5px 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 20px;
  
}
h4.githubLink a:visited, a:hover{
  color: pink;
}
h4.lastChildRCB {
	margin-bottom: 40px;
}
.scroll-down {
	border: 2px solid #222222;
	color: #222222;
	background: transparent;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
}



/* ========04. SECTION RESUME========== */
.resumeblock li {
      color: #787878;
    font-size: 14px;
}
#sectionResume {
	background: #ffffff;
}
#sectionResume h2 {
  font-family: 'BrandonTextBold', sans-serif;
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	margin-bottom: 30px;
}
.resumeStats {
  	margin-top: 25px;
  	text-align: center;
}
.resumeStats span {
	font-size: 30px;
}
.resumeStats .col-md-2 {
	transition: background-color .4s;
  	padding: 50px;
  	border-left: 1px solid #eee;
  	border-top: 1px solid #eee;
}
.resumeStats .col-md-2:hover {
	color: #FF8A8A;
}
.statsIconPerc {
  	font-size: 50px;
  	font-weight: 500;
  	letter-spacing: 1px;
}
.statsName {
  	text-transform: uppercase;
  	font-size: 14px;
  	font-weight: 600;
  	letter-spacing: 1px;
}


/* ========05. SECTION SERVICES========== */

/*#sectionServices {
  	background: #eee;
  	padding-bottom: 50px;
}

.servicesCol4 {
  	padding-top:30px;
  	padding-bottom:30px;
  	overflow: hidden;
  	min-height: 215px;
}
.servicesCol4 h3 {
  	font-size: 15px;
  	margin-top: 0px;
  	padding-top: 0;
  	text-transform: uppercase;
  	font-weight: 600;
  	text-align: left;
}
.servicesCol4 p{
  	font-size: 16px;
  	font-weight: 200;
  	font-family: 'Alegreya', serif;
  	/*font-family: 'Open Sans', serif;
  	text-align: left;
  	font-style: italic;
  	color: #666;
  	padding-top: 10px;
}
.servicesCol4 span {
  	font-size: 40px;
  	text-align: center;
  	color: #FF8A8A;
}
.servicesLeft {
  	float: left;
}
.servicesRight {
  	padding-left: 23%;
  	padding-right: 2%;
}


/* ========06. SECTION PORTFOLIO========== */
#sectionWorks {
	padding-bottom: 100px;
}

/* ========CONTACT========== */


#sectionContact {
	background: #eee;
}
.contactForm {
	max-width: 600px;
	margin: 50px auto;
}
.contactForm div {
	margin-top: 15px;
}

.footerLeft {
	font-size: 13px;
	font-weight: 400;
	color: #777;
	padding-top: 72px;
  padding-left: 28px;
}

/* ====CONTACT FORM STYLES==== */

input, textarea, select {
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  background: transparent;
  border: 0;
  border: 1px solid #ccc;
  height: 100%;
  margin: 0;
  padding: 15px;
  transition: all 0.25s ease-in-out;
  vertical-align: top;
  width: 100%;
  color: #222;
  font-size: 13px;
  font-weight: 600;
  -webkit-box-shadow: 10px -1px 13px 0px rgba(179,179,179,1);
-moz-box-shadow: 10px -1px 13px 0px rgba(179,179,179,1);
box-shadow: 10px -1px 13px 0px rgba(179,179,179,1);
}
input:focus, textarea:focus, select:focus {
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  border: 1px solid #222;
  outline: none;
  position: relative;
  transition: all 0.25s ease-in-out;
  z-index: 5;
}
input.error, textarea.error, select.error {
	border: 1px solid #FF8A8A;
}
input.submit {
  cursor: pointer;
  font-size: 15px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
  font-weight: 600;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  background: transparent;
  border: 2px solid #222;
  color: #222;
  margin: 20px 0;
  padding: 16px;
  transition: all .2s ease-in-out;
}
input.submit:hover {
  	color: #ffffff;
    background: #222;
}

/* ====MESSAGE FOR SUCCESS==== */

#message { 
  background: transparent none; 
  display: block; 
  margin: 1em 0; 
  padding: 0; 
}
#message h1 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#message p {
    font-family: 'Open Sans', serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 200;
    text-align: left;
}

/* ========08. MEDIA QUERIES=========*/
@media screen and (max-width: 768px) {

.intro-heading h1 {
  	font-size:45px;
  	line-height: 45px;
}
.navbar li {
	display: block;
}
.navbar li a {
	line-height: 40px;
}

}

@media screen and (max-width: 480px) {

.resumeStats .col-md-2 {
  	padding: 20px;
}


}
/* ========09. RESUME ========== */


#sectionResume h2{
    margin-top: 30px;
    text-align: center;
}
#sectionResume hr{
    border-top: 1px solid #FF8A8A;
    opacity: 0.2;
}
.resumeblock{
    padding-right: 30px;
    padding-left: 15px;
    border-left: 1px solid #FF8A8A;
    
}
.resumeblock h3{
    font-family: "Monterrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.resumeblock h3 span{
    float: right;
    color: #FF8A8A;
}
.resumeblock h4{
    color: #787878; 
    font-size: 14px;
    font-weight: 100;
    margin-top: 5px;
    margin-bottom: 5px;
}
.resumeblock p{
    font-family: "Monterrat", sans-serif;
    font-size: 17px;
    color: #787878;
    font-weight: 100;
}

h3.skill{
    font-family: "BrandonTextBold", sans-serif;
    font-weight: bolder;
    font-size: 15px;
}
.fa.fa-star {
 
    color: #FF8A8A;

}
.fa.fa-star-o{
    color:#FF8A8A;
}
.skill span{
    float: right;
    margin-right: 10px;
}


/* ========10. ISOTOPE THUMBNAILS ========== */
.col-md-4 p {
    font-family: "Monterrat", sans-serif;
    font-size: 17px;
    color: #787878;
    font-weight: 100;

}
.col-md-4 h3{
    font-family: 'BrandonTextBold', sans-serif;
}

.da-thumbs {
    list-style: none;
    height: 600px;
    position: relative;
}
.da-thumbs li{
    float: left;
    background: #fff;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}    
.da-thumbs li h2{
    margin-bottom: 20px;
    font-size: 26px;
}
.da-thumbs li a{
    overflow: hidden;
}
.da-thumbs li a, a img{
    display: block;
    position: relative;
}
.da-thumbs li a div{
    position: absolute;
    background: #333;
    background: rgba(75,75,75,0.7);
    width: 100%;
    height: 100%;
}
.da-thumbs li a div span{
    display: block;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: normal;
    color: rgba(255,255,255,0.9);
}
.img-fluid {
  height:100%;
  width:100%;


}
#isotope-container .item{
    width: 25%;
    max-height: 440px;
    padding: 0;
}
#isotope-container .item img{
    width: 100%;
    max-height: 100%;
}

.isotope-slider .filters{
    display: table;
    margin: 0 auto;
    padding: 20px;
}
.isotope-slider .filters button{
    transition: 0.2s;
    margin: 10px;
}
.isotope-slider .filters button:hover{
    color: #FF8A8A; 
}
.contactFooter {
  padding-top:110px;
  padding-bottom: 110px;

  background-color: #111;
 

  color: #fff;
}

.container{
  margin-right: auto;
  margin-left:auto;
  position:relative;

}
.socialmedia-icons {
  font-size: 80px;
  display:inline-block;
  float:left;
}
.socialmedia-icons:hover {
  color:#FF8A8A;
}