@import 'reset';

@import 'variables';

@import 'mixins';

@import url('https://fonts.googleapis.com/css?family=Lobster');




$width-ipad: 768px;
$width-laptop-small: 1000px;
$width-laptop-large: 1200px;



.main-header {
	
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

body {
	background-color: #e6f5ff;

}

.navbarlinks {
	background-color: #348FB2;
	font-family: 'Lobster', sans-serif;
	font-size: 7.2em;
	font-weight: bold;
	padding:2rem;
	text-align: center;
	letter-spacing: .3rem;
	color: white;
    text-shadow: 2px 2px 2px #000000;
    -moz-border-radius-bottomright: 5px;
-webkit-border-bottom-right-radius: 5px;
border-bottom-right-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-bottom-left-radius: 5px;
border-bottom-left-radius: 5px;
-webkit-box-shadow: 0px 6px 9px 0px rgba(50, 50, 50, 0.94);
-moz-box-shadow:    0px 6px 9px 0px rgba(50, 50, 50, 0.94);
box-shadow:         0px 6px 9px 0px rgba(50, 50, 50, 0.94);
}
.navbarlinks a {
	color:#fff;
	font-family: 'Lobster', bold, sans-serif;
	font-size: 40px;
	display:block;
	margin: 10px;
	padding:20px;
	text-decoration: none;
	



}
.navbarlinks a:hover {
	color: #B8ECFF;
	
}

.main-container {

    margin: 0 auto;
    max-width: 1024px;
    padding-top: 4rem;
    width: 100%;

	.column {
		background-color: #fff;
		box-sizing: border-box;
		padding: 15px;
		width:100%;
		max-width: 400px;
		margin-bottom: 10rem;
		margin-left:auto;
		margin-right: auto;
	}

}

.box {

	background-position: center 13px;
	background-repeat: no-repeat;
	background-size: 85%;
	border: 3px solid $light-blue;
	box-sizing: border-box;
	/*height: 21rem;*/
	position: relative;

	/*&.box-blue-shirt {
		background-image: url('../../imgs/tshirts/shirt_blue.jpg')
	}

	&.box-yellow-shirt {
		background-image: url('../../imgs/tshirts/shirt_yellow.jpg')
	}

	&.box-pink-shirt {
		background-image: url('../../imgs/tshirts/shirt_pink.jpg')
	}*/
		.tshirtImage {
			margin-bottom: 65px;
			margin-top:20px;
			width:100%;
		}


}

.icon-row {
	background-color: #FFF;
	border-top: 3px solid #5CA4D7;
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
}

.icon-row::after {
	clear:both;
	content: " ";
	display:block;
	height:0;

}
.icon-row a {
	border-right: 3px solid $light-blue;	
	box-sizing: border-box;
	color:$light-blue;
	display:block;
	float:left;
	font-family: Futura, bold, sans-serif;
	font-size: 1.2rem;
	padding:1rem;
	position:relative;
	text-align:center;
	width:20%;


}

.icon-row a:last-child {
	border-right: none;

}
.icon-row a:hover {
	background-color: $light-blue;
	color:#fff;
	text-shadow: 1px 1.8px 1px #000000;
	.popup {
		visibility: visible;
		opacity:1;
		bottom: 100%;
	}
}

.flip-button {
	border: 3px solid $light-blue;
	border-right:0px;
	border-top: 0px;
	color:$light-blue;
	font-size: 20px;
	padding:.5rem;
	position:absolute;
	right:0;
	top:0;

}
.flip-button:hover {

	background-color: $light-blue;
	color:#fff;
	text-shadow: 1px 1px 1px #000000;
}

h2 {
	color: #C1882A ;
	font-family: Futura,bold, sans-serif;
	font-size: 25px;
	margin-top: 35px;
	margin-bottom: 55px;
}

h2 span{
	color: #C1882A  ;
	float:right;
	font-weight: bold;
}

.XL-button {
	font-weight:bold;
	text-decoration: none;
}

.box-pink-shirt .square-button {
	color:$pink !important;
	}
.box-yellow-shirt .square-button {
	color:$yellow !important;
}

.popup {
	background-color:#fff;
	border: 3px solid $light-blue;
	bottom:120%;
	left:50%;
	margin-left:-53%;
	opacity:0;
	position:absolute;
	transition: all .5s;
	visibility: hidden;
	width:106%;

}
.popup:before, .popup:after {
	border-color: transparent;
	border-style: solid;
	content: " ";
	height:0;
	left: 50%;
	position: absolute;
	top:100%;
	width:0;
}
.popup:after {
	border-top-color:#fff;
	border-width: 12px;
	margin-left: -12px;	
}
.popup:before {
	border-top-color: $light-blue;
	border-width: 15px;
	margin-left: -15px;

}

.popup .popup-squares {
	position:relative;

}

	
	

.blue-square {
	color:$light-blue;
	

}

.pink-square {
	color:$pink;
	

}

.yellow-square {
	color:$yellow;
	
	

	
}

.green-square {
	color:$green;

}

.container-sizes {
	height:12rem;
	margin: 0 auto;
	padding-bottom: 4rem;
}
.container-sizes-size {
	background-image: url("../../imgs/tshirts/shirt_icon.svg");
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 1rem;
	margin-top:1rem;
	padding:18px;

		p{
			font-size: 10px;

		}

}

.container-sizes-size-letter {
	color:$light-blue;
	text-shadow: none;
	
}




/* media querie section */


/*tablet*/

@media only screen 
  and (min-width: 768px) {

  	.main-container {
    width: 100%;

	.column {
		
		box-sizing: border-box;
		float:left;
		width:33%;
	}

}
	.navbarlinks a {
		display:inline-block;
		font-size: 36px;
		margin:10px;
		padding:10px;
	}

  }

/*laptop*/

/*@media screen 
  and (min-device-width: 1200px) */